<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Flight Delay Compensation</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/web3.min.js"></script>
</head>

<body style="background-color: #fdfdfd !important;background-image: url();">
  <div id="snackbar">Some text some message..</div>
  <div class="loading" style="display:none">Loading&#8230;</div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

        <a class="navbar-brand" href="#">    <img class="logo-image d-none d-lg-inline-block" src="/img/IBS_Software.svg" alt="IBS Software">Claim -Airline
            
        </a>
     
        
        <h5 style="font-size: .99rem;padding-left: 10%;color: #fff; width:15%">Address: </h5>
            <span id="adminaddressbar"  class="" style="font-size: .99rem;color: #fff;"><%=address%> </span>
           
            <h5 id="ballabel" clas="" style="width:20%;padding-left: 2%;color: #fff;font-size: .99rem;"> Contarct  Bal: 
            <span id="adminbal" class="badge badge-primary" style="color: #fff;"> <%=balance%></span>
            </h5>
            <h5 id="ballabel" clas="" style="width:20%;color: #fff;font-size: .99rem;"> Owner  Bal: 
            <span id="adminbal" class="badge badge-primary" style="color: #fff;"> <%=ownerbal%></span>
            </h5>
            
        
    </nav>
    
    <main class="container" style="overflow:auto; max-height:500px;margin-top: 100px;">
     <h4 style="margin-top:0px">Booking Data Migration Details </h4>
       

       	<table class="table table-bordered" style="border-collapse:collapse;">
				    <thead>
				        <tr>
				            
				            <th align="center" style="text-align: center; vertical-align: middle;">Flight No</th>
				            <th align="center" style="text-align: center; vertical-align: middle;">Passenger PNR </th>
                            <th align="center" style="text-align: center; vertical-align: middle;">Name</th>
				            <th align="center" style="text-align: center; vertical-align: middle;">Quntity</th>
				            <th align="center" style="text-align: center; vertical-align: middle;">Address</th>
				            
				        </tr>
				  </thead>
				<tbody id="tbodyDet">
			       <% for(var i=0; i < data.length; i++) {%> 	
                   <td align="center" style="text-align: center; vertical-align: middle;"><%=data[i].FlightNo%></td>
		           <td align="center" style="text-align: center; vertical-align: middle;"><%=data[i].PNR%></td>
                   <td align="center" style="text-align: center; vertical-align: middle;"><%=data[i].Name%></td>
				   <td align="center" style="text-align: center; vertical-align: middle;"><%=data[i].quantity%></td>
				   <td align="center" style="text-align: center; vertical-align: middle;"><%=data[i].address%></td></tr> 
				   <%}%>
                </tbody>
				</table>
                </main>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  
